.main{
    padding-top: 5%;
    background-color: rgb(210, 230, 251);
}

.cart{
    display: flex;
    padding-inline: 5%;
    margin-bottom: 5rem;
    margin-top: 2rem;
    justify-content: center;
}

.products{
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
    padding: 1%;
    min-width: 45rem;
    min-height: 20rem;

}

.product label{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
}

.product_img img{
    display: flex;
    max-width: 7rem;
}

.product_img{
    padding-right: 2rem;
}

.title::before, .title::after{
    content: none;
}

.title{
    color: black;
    padding-inline: 0;
}

.product_name h6{
    margin: 0;
}

.product_name{
    width: 100%;
    margin-bottom: 2rem;
}

.product_name a{
    color: black;
    text-decoration: none;
}

.product_name a:hover{
    color: blue;
}

.product {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 20px;
    padding-top: 1rem;
    width: 100%;
    position: relative; 
    align-items: center;
}

.product::after {
    content: "";
    display: block;
    height: 2px;
    background-color: rgb(144, 198, 255);
    width: 90%; 
    margin: 0 auto; 
    position: absolute; 
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%);
}

.product:last-of-type::after{
    content: none;
}


.new-price{
    color: gold;
    font-size: 1.5rem;
}

.old-price{
    color: rgb(0, 119, 255);
    text-decoration: line-through;
}

.prod_actions{
    display: flex;
}

.favourites_add_remove, .trash{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
    border: 0px;
    border-radius: 10px;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 0.5rem;
    background-color: rgb(210, 230, 251);
}

.favourites_add_remove svg{
    transition: fill 1s;

}

.trash:hover svg{
    color: blue;
}

.favourites_add_remove svg, .trash svg{
    width: 22px;
    height: 22px;
}

.order{
    width: 35rem;
    margin-left: 3rem;
    border: 1px solid black;
    background-color: white;
    border-radius: 50px;
    padding: 2%;
    height: fit-content;
    min-height: 18rem;
}

.product_quantity{
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
}

.prod_quant{
    display: flex;
    align-items: center;
    height: 30px;
    
}

.quant{
    height: 100%;
}

.quant input{
    height: 100%;
    width: 3.5rem;
    margin-inline: 0.5rem;
    text-align: center;
    background-color: rgb(210, 230, 251);
    border: 1px solid rgb(74, 74, 255);
    border-radius: 5px;
}

.plus button, .minus button{
    display: flex;
    border: 1px solid transparent;
    background-color: rgb(210, 230, 251);
    border-radius: 5px;
}

.plus button:hover, .minus button:hover{
    border: 1px solid blue;
}

.plus button svg, .minus button svg{
    color: blue;
}



.columns{
    display: grid;
    grid-template-columns: 65% 15% 20%;
    text-align: center;
}

.order_prod{
    display: grid;
    grid-template-columns: 65% 15% 20%;
    text-align: center;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid blue;
}

.order_prod:last-child{
    border: none;
}

.order_prod_name{
    text-align: left;
    font-size: 14px;
    margin-bottom: 0.5rem;
    padding-right: 0.5rem;
}

.total_price{
    display: flex;
    justify-content: space-between;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Для Firefox */
}

.empty_cart{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}