* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar, 
.footer-bar{
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}

.nav-bar{
    align-items: center;
}

.right-nav-list,
.search-bar{
    display: flex;
    /* align-items: center; */
}

.right-nav-list{
    align-items: center;
}

.right-nav-list a, 
#catalog-button, 
.footer-list a,
.footer-bar p{
    display: block;
    padding: 1em;
    text-decoration: none;
    color: rgb(0, 119, 255);
    font-size: 1.2em;
}

.right-nav-list a:hover,
#catalog-button:hover,
.footer-list a:hover{
    color: rgb(0, 4, 255);
}

#catalog-button{
    border: none;
    background-color: rgb(255, 255, 255);
}

.search-bar input,
.search-bar svg,
.search-bar>input::placeholder{
    margin: auto;
    color: rgb(0, 119, 255);
}


.search-bar{
    max-width: 30rem;
    width: 100%;
}

.search-bar>input{
    width: 100%;
    padding-left: 0.5rem;
    margin-right: 0.5rem;
    padding-top: -1rem;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding-block: 0.5em;
    text-align: left;
    font-size: 1.2em;
}

.search-bar>input:focus{
    outline: 0;
    outline-offset: 0;
}

.search-bar>svg{
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.25em;
}

.left-nav-bar-catalog{
    display: none;
    padding-top: 5px;
    left: 1rem;
    background-color: white;
    border: 1px solid rgba(0,213,255,1);
    border-color: rgb(0, 4, 255);
    border-radius: 10px;
}

.drop-catalog:hover .left-nav-bar-catalog{
    z-index: 100;
    display: block;
    position: absolute;
    padding-right: 1em;
    margin-left: -1em;
}

.left-nav-bar-catalog ul,
.left-nav-bar-catalog ul details{
    display: flex;
    flex-direction: column;
}

.left-nav-bar-catalog summary:hover,
.left-nav-bar-catalog a:hover{
    cursor: pointer;
    border: solid;
    border-radius: 1rem;
    color: rgb(0, 4, 255);
}

.left-nav-bar-catalog a:hover > svg{
    color: rgb(0, 4, 255);
}

.left-nav-bar-catalog ul svg{
    color: rgb(0, 119, 255);
    width: 1.5rem;
    height: 1.5rem;
    padding-left: 0.3em;
}

.left-nav-bar-catalog ul a,
.left-nav-bar-catalog summary{
    text-decoration: none;
    color: rgb(0, 119, 255);
    padding-inline: 1rem;
    margin-left: -1rem;
    list-style-type: none;
    border: 1.5px solid transparent;
    font-size: 1em;
}

.left-nav-bar-catalog details a{
    display: flex;
    padding-left: 2em;
    color: rgb(0, 119, 255);
}

/* Title */

.product-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.title{
    overflow: hidden;
    text-align: center;
    font-size: 2rem;
    color: gold;
    padding-inline: 10rem;
}

.title h2{
    display: inline-block;
    vertical-align: middle;
}

.title::after,
.title::before{ 
    content: "";  
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    background-color: white;
    position: relative;
}

.title::after{
    margin-right: -100%;
    right: -0.6rem;
}

.title::before{
    margin-left: -100%;
    left: -0.6rem;    
}

/* Footer */


.footer-bar{
    flex-direction: column;
    padding-top: 3rem;
}

.footer-list ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 0;
}

.footer-menu{
    padding-right: 3rem;
}

.footer-menu span{
    font-size: 1.5rem;
    color: gold;
}

.footer-menu a{
    padding-left: 0;
    font-size: 1rem;
}

.footer-menu-stay-with-us{
    display: flex;
    flex-direction: row;
}

.footer-menu-stay-with-us a{
    margin-top: 2rem;
    margin-right: 2rem;
    padding: 0;
}

.company-name{
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.search_button{
    margin: auto;
    background-color: transparent;
    border: 1px solid rgb(0, 119, 255);
    border-radius: 10px;
    padding-block: 0.5em;
    max-height: 3rem;
    max-width: 3rem;
    height: 100%;
    width: 100%;
}

.search_button svg{
    width: 1.5rem;
    height: 1.5rem;
}

.searchResultsSort,
.search_q{
    margin-left: 2rem;
}

.search_q{
    margin-bottom: 0.5rem;
}

.search_q h4{
    color: rgb(0, 119, 255);
}

#user_img{
    padding: 0.5rem;
    padding-right: 1rem;
}

.user_img img{
    max-width: 4rem;
    max-height: 4rem;
    border-radius: 50%;
    border: blue 1px solid;
    width: 100%;
    height: 4rem;
    object-fit: cover;
}

.products_cart_quantity{
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
}

#products-in-cart-count{
    font-size: 14px;
}

.right-nav-list a{
    display: flex;
}