{% load product_tags %}
{% load static %}
{% load carts_tags %}


{% for product in products %}
<div class="products" id='filtered-product'>
        <div class="product">
            <div class="product-img">
                <div class="fav_svg">
                    {%product_in_favourites request product.id as prod_in_fav%}
                    <button class="favourites_add_remove" data-product-id="{{product.id}}" data-favourites-add-remove-url="{% url "cart:favourites_add_remove" %}" id="toggle-heart-button">
                        {% if prod_in_fav %}
                        <svg xmlns="http://www.w3.org/2000/svg" id="heart-svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                          </svg>
                          {% else %}
                          <svg xmlns="http://www.w3.org/2000/svg" id="heart-svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                          </svg>
                        {% endif %}
                    </button>
                </div>
                <a href="{% url "catalog:product" product.slug %}">
                    <img src="{{ product.image.url }}" loading="lazy" alt="" >
                </a>
            </div>
            <div class="product-info">
                <a href="{% url "catalog:product" product.slug %}">
                    <div class="product-name">
                        <span>{{ product.name|truncatechars:50 }}</span>
                    </div>
                </a>
                {% tag_characteristics_sets as CharacteristicsSet %}
                {% for property in CharacteristicsSet%}
                {% if property.productid.id == product.id and property.propertyid.name != "Кол-во вентиляторов"%}
                <div class="product-param">
                    <div class="p-p">
                        <i>{{ property.propertyid.name }}:</i>
                        <p>{{ property.propertyvalueid.value }}</p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="product-purchase">
                {% if product.discount != 0%}
                <span class="new-price">{{ product.sell_price }}₽</span> <span class="old-price">{{ product.price_without_disc }}₽</span>
                {% else %}
                <span class="new-price">{{ product.price_without_disc }}₽</span>
                {% endif %}

                {% product_in_cart request product.id as prod_in_cart%}
                {% if prod_in_cart %}
                {% for cart in prod_in_cart %}
                <div class="prod_quant">
                    <div class="minus">
                        <button id="minus " class="decrement" data-cart-id="{{cart.id}}" data-cart-change-url="{% url "cart:cart_change" %}">
                            {% csrf_token %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                            </svg>
                        </button>
                    </div>
                    <div class="quant">
                        <input class="number" inputmode="numeric" pattern="[0-9]*" type="number" name="" maxlength="4" value="{{cart.quantity}}" id="product_quantity" readonly>
                    </div>
                    <div class="plus">
                        <button id="plus " class="increment" data-cart-id="{{cart.id}}" data-cart-change-url="{% url "cart:cart_change" %}" data-max-quant="{{cart.product.quantity}}">
                            {% csrf_token %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                            </svg>
                        </button>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                {% if product.quantity == 0 %}
                <h6>Товара нет в наличии</h6>
                {% else %}
                <div class="prod_quant">
                    <a href="{% url "cart:cart_add" %}" class="view-more add-to-cart"
                    data-product-id="{{product.id}}">
                    В корзину</a>
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
</div>
{% endfor %}
<div class="pagination">
    {% if products.paginator.num_pages > 1 %}
        <button class='first_page'>В начало</button>
        <ul>
            {% for page in products.paginator.page_range %}
                {% if page >= products.number|add:"-2" and page <= products.number|add:"2"%}
                    <button type="button" class="page_button" data-page = {{page}} >
                        <li class="link{% if  products.number == page %} active {% endif %}" > {{ page }} </li>
                    </button>
                {% endif %}                 
            {% endfor %}
        </ul>
        <button class='next_page'>Следующая</button>
    {% endif %}
</div>


<script>
    $(document).ready(function(){
        var currentUrl = window.location.href.split('/');
        let query = window.location.href.split('?');
        if (query.length >= 2) {
            category_slug = currentUrl.pop() && currentUrl.pop();
        } else {
            category_slug = currentUrl.pop() || currentUrl.pop();
        }    
        if (query.length > 1 && query[1].split("=")[0] === "q") {
            query = decodeURIComponent(query[1].split("=")[1]); // Декодируем строку
        }
    
    
        let filter_object = {
            'category_slug': category_slug,  // Добавляем category_slug в объект фильтра
            'page': 1,
            'q': query
        };
        $('.first_page').click(function() {
            filter_object.page = 1;
        })
        $('.page_button').click(function() {
            let current_page = $(this).data("page");
            filter_object.page = current_page;
        })
        $('.next_page').click(function() {
            filter_object.page = filter_object.page+1
        })
        $(".page_button, .first_page, .next_page").on("click", function(){

            let max_price = document.querySelector(".input-max").value;
            let min_price = document.querySelector(".input-min").value;
            filter_object.min_price = min_price;
            filter_object.max_price = max_price;
    
            $(".filter-checkbox").each(function(){
                let filter_key = $(this).data("filter")
    
                filter_object[filter_key] = Array.from(document.querySelectorAll('input[data-filter=' + filter_key + ']:checked')).map(function(element) {
                    return element.value
                })
            })
            $.ajax({
                url: '/filter-products',
                data: filter_object,
                dataType: 'json',
                beforeSend: function(){
                },
                success: function (response) {
                    $("#product_page").html(response.data)
                }
            })
        })
    }) 
</script>

