{% extends "base.html" %}
{% load static %}
{% load product_tags %}

{% block title %}{{title}}{% endblock title %}


    {% block css %}
    <!-- Swiper css -->
    <link rel="stylesheet" href="{% static "main/css/swiper-bundle.min.css" %}">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static "main/css/index.css" %}">
    {% endblock css %}
    

{% block content %}
<div class="index-main-content">
    <div class="slider-and-title">
        <div class="title">
            <h2>Товары со скидкой</h2>
        </div>
        <div class="slide-container swiper-container">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    {% tag_products as products %}
                    {% for product in products %}
                    {% if product.discount != 0%}
                    <div class="card swiper-slide">
                        <div class="img-content">
                            <div class="card-image">
                                <img src="{{ product.image.url }}" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <p class="product_name">{{ product.name|truncatechars:50 }}</p>
                            <span class="new-price">{{product.sell_price}}₽</span> <span class="old-price">{{product.price_without_disc}}₽</span> <p></p>
                            <a href="{% url "catalog:product" product.slug %}" class="view-more">Подробнее</a>
                        </div>
                    </div>
                    {%endif%}
                    {%endfor%}
                </div>
            </div>
    
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
{% endblock content %}
    
{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- Swipper js -->
    <script src="{% static "main/js/swiper-bundle.min.js" %}"></script>

    <!-- JS -->
    <script src="{% static "main/js/swiper-script.js" %}"></script>
{% endblock js %}
