{% extends "main/base.html" %}
{% load static %}

{% block title %} Процессоры {% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static "products/css/product.css" %}">
{% endblock css %}

{% block content %}
<content>
    <div class="product-title">
        <div class="title">
            <h2>Процессоры</h2>
        </div>
    </div>
    <div class="content">
        <div class="left-bar">
            <div class="filters">
                <div class="filter">
                    <div class="ft">
                        <span class="filter-title">Количество ядер</span>
                    </div>
                    <div>
                        <div>
                            <label>
                                <input class="check-box" type="checkbox">
                                <div class="custom-checkbox">
    
                                </div>
                                <div class="condition">
                                    <span>4-8</span>
                                </div>
    
                            </label>
                        </div>
                        <div>
                            <label>
                                <input class="check-box" type="checkbox">
                                <div class="custom-checkbox">
    
                                </div>
                                <div class="condition">
                                    <span>8-12</span>
                                </div>
    
                            </label>
                        </div>
                        <div>
                            <label>
                                <input class="check-box" type="checkbox">
                                <div class="custom-checkbox">
    
                                </div>
                                <div class="condition">
                                    <span>12-16</span>
                                </div>
    
                            </label>
                        </div>
                        <div>
                            <label>
                                <input class="check-box" type="checkbox">
                                <div class="custom-checkbox">
    
                                </div>
                                <div class="condition">
                                    <span>16-20</span>
                                </div>
    
                            </label>
                        </div>
                    </div>
                </div>
                <div class="filter">
                    <div class="ft">
                        <span class="filter-title">Тип памяти</span>
                    </div>
                    <div>
                        <label>
                            <input class="check-box" type="checkbox" >
                            <div class="custom-checkbox">
                            </div>
                            <div class="condition">
                                <span>DDR3</span>
                            </div>
                        </label>
                    </div>
                    <div>
                        <label>
                            <input class="check-box" type="checkbox">
                            <div class="custom-checkbox">
                            </div>
                            <div class="condition">
                                <span>DDR4</span>
                            </div>
                        </label>
                    </div>
                    <div>
                        <label>
                            <input class="check-box" type="checkbox">
                            <div class="custom-checkbox">
    
                            </div>
                            <div class="condition">
                                <span>DDR5</span>
                            </div>
    
                        </label>
                    </div>
                </div>
                <div class="filter">
                    <div class="ft">
                        <span class="filter-title">Цена</span>
                    </div>
                    <div class="price-slider">
                        <div class="progress"></div>
                    </div>
                    <div class="range-input">
                        <input type="range" class="range-min" min="0" max="500000" value="0" oninput="slideMin()">
                        <input type="range" class="range-max" min="0" max="500000" value="500000" oninput="slideMax()">
                    </div>
                    <div class="price-input">
                        <div class="field" id="field-min">
                            <span>От</span>
                            <input type="number" class="input-min" value="0" onchange="setMinInput()">
                        </div>
                        <div class="field">
                            <span>До</span>
                            <input type="number" class="input-max" value="500000" onchange="setMaxInput()">
                        </div>    
                    </div>
                </div>
                <div class="filter">
                    <div class="ft">
                        <span class="filter-title">Сокет</span>
                    </div>
                    <div>
                        <label>
                            <input class="check-box" type="checkbox">
                            <div class="custom-checkbox">
    
                            </div>
                            <div class="condition">
                                <span>LGA 1200</span>
                            </div>
    
                        </label>
                    </div>
                    <div>
                        <label>
                            <input class="check-box" type="checkbox">
                            <div class="custom-checkbox">
    
                            </div>
                            <div class="condition">
                                <span>LGA 1700</span>
                            </div>
    
                        </label>
                    </div>
                    <div>
                        <label>
                            <input class="check-box" type="checkbox">
                            <div class="custom-checkbox">
    
                            </div>
                            <div class="condition">
                                <span>AM </span>
                            </div>
    
                        </label>
                    </div>
                    <div>
                        <label>
                            <input class="check-box" type="checkbox">
                            <div class="custom-checkbox">
    
                            </div>
                            <div class="condition">
                                <span>AM</span>
                            </div>
    
                        </label>
                    </div>
                </div>
                <div class="filter">
                    <div class="ft">
                        <span class="filter-title">Линейка процессоров</span>
                    </div>
                    <div>
                        <label>
                            <input class="check-box" type="checkbox">
                            <div class="custom-checkbox">
    
                            </div>
                            <div class="condition">
                                <span>Intel i7</span>
                            </div>
    
                        </label>
                    </div>
                    <div>
                        <label>
                            <input class="check-box" type="checkbox">
                            <div class="custom-checkbox">
    
                            </div>
                            <div class="condition">
                                <span>Intel i9</span>
                            </div>
    
                        </label>
                    </div>
                    <div>
                        <label>
                            <input class="check-box" type="checkbox">
                            <div class="custom-checkbox">
    
                            </div>
                            <div class="condition">
                                <span>AMD A8</span>
                            </div>
    
                        </label>
                    </div>
                    <div>
                        <label>
                            <input class="check-box" type="checkbox">
                            <div class="custom-checkbox">
    
                            </div>
                            <div class="condition">
                                <span>AMD A10</span>
                            </div>
    
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="searchResultsSort">
                <div class="orderBy">
                    <span>Сортировать по</span>
                </div>
                <div class="searchSort-bar">
                    <div id="select">
                        <p id="selectText">Новинки</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                          </svg>
                          <ul id="list">
                            <li class="options">Новинки</li>
                            <li class="options">Популярные</li>
                            <li class="options">Сначала дешевые</li>
                            <li class="options">Сначала дорогие</li>
                            <li class="options">Высокая оценка</li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="products">
                <div class="product">
                    <div class="product-img">
                        <img src="{% static "products/images/rtx3060 12gm 200x200.webp" %}" alt="" >
                    </div>
                    <div class="product-info">
                        <a href="#">
                            <div class="product-name">
                                <span>Видеокарта Gigabyte GeForce RTX 3060 EAGLE OC 12G</span>
                            </div>
                        </a>
                        <div class="product-param">
                            <div class="p-p">
                                <i>Тип памяти:</i>
                                <p>GDDR6</p>
                            </div>
                            <div class="p-p">
                                <i>Объем памяти:</i>
                                <p>12 ГБ</p>
                            </div>
                            <div class="p-p">
                                <i>Ширина шины памяти:</i>
                                <p>192 бит</p>
                            </div>
                            <div class="p-p">
                                <i>Тип шины:</i>
                                <p>PCI Express 4.0</p>
                            </div>
                        </div>
                    </div>
                    <div class="product-purchase">
                        <span class="new-price">45 000₽</span> <span class="old-price">50 000₽</span> <p></p>
                        <a href="#" class="view-more">В корзину</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</content>
{% endblock content %}

{% block js %}
    <script src="{% static "products/js/scroll-script.js" %}"></script>
    <script src="{% static "products/js/search-bar-script.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock js %}