{% extends "base.html" %}
{% load static %}
{% load product_tags %}
{% load carts_tags %}

{% block meta %}
<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock meta %}

{% block title %} {{title}} {% endblock title %}

    {% block css %}
    <link rel="stylesheet" href="{% static "products/css/product_page.css" %}">
    {% endblock css %}

{% block content %}
<div class="main">
    <div class="left_part">
        <div class="product_name"><h3>{{ product.name }}</h3></div>
        <div class="product_img">
            <img src="{{ product.image.url }}" alt="{{product.name}}">
        </div>
    </div>
    <div class="right_part">
        <div class="price_and_count">
            <div class="buy_price_count">
                <span style="color: rgb(182, 182, 182);">Артикул {{ product.display_id }}</span> <br>
                <span class="product_count">В наличии <span style="color: red;">{{ product.quantity }}</span> шт</span> <br>
                {% if product.discount != 0 %}
                <span class="new-price">{{ product.sell_price }}₽</span>
                <span class="discount">{{ product.discount }}%</span>
                <p class="old-price">{{ product.price_without_disc }}₽</p>
                {% else %}
                <span class="new-price">{{ product.price_without_disc }}₽</span>
                {% endif %}
                <div class="cart_button_favourite">
                    {% product_in_cart request product.id as prod_in_cart%}
                    {% if prod_in_cart %}
                    {% for cart in prod_in_cart %}
                    <div class="prod_quant" id="prod_quant">
                        <div class="minus">
                            <button id="minus " class="decrement" data-cart-id="{{cart.id}}" data-cart-change-url="{% url "cart:cart_change" %}">
                                {% csrf_token %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                                </svg>
                            </button>
                        </div>
                        <div class="quant">
                            <input class="number" inputmode="numeric" pattern="[0-9]*" type="number" name="" maxlength="4" value="{{cart.quantity}}" id="product_quantity" readonly>
                        </div>
                        <div class="plus">
                            <button id="plus " class="increment" data-cart-id="{{cart.id}}" data-cart-change-url="{% url "cart:cart_change" %}" data-max-quant="{{cart.product.quantity}}">
                                {% csrf_token %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    {% if product.quantity == 0 %}
                    <h5>Товара нет в наличии</h5>
                    {% else %}
                    <div class="prod_quant" >
                        <a href="{% url "cart:cart_add" %}" class="view-more add-to-cart" id="cart_button"
                        data-product-id="{{product.id}}">
                        В корзину</a>
                    </div>
                    {% endif %}
                    {% endif %}
                    {%product_in_favourites request product.id as prod_in_fav%}
                    <button class="favourites_add_remove" data-product-id="{{product.id}}" data-favourites-add-remove-url="{% url "cart:favourites_add_remove" %}" id="toggle-heart-button">
                        {% if prod_in_fav %}
                        <svg xmlns="http://www.w3.org/2000/svg" id="heart-svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                          </svg>
                          {% else %}
                          <svg xmlns="http://www.w3.org/2000/svg" id="heart-svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                          </svg>
                        {% endif %}
                    </button>
                </div>
            </div>
            <div class="brand_img">
                <img src="{{ product.brand_image.url}}" alt="Картинка бренда">
            </div>
        </div>
        <div class="description" id="description">
            <div class="descr_buttons" id="descr_buttons">
                <button onclick="product_description()" id="active"><span>Описание</span></button>
                <button onclick="product_param()" id="not_active"><span >Характеристики</span></button>
            </div>
            <div class="div_active" id="description_div">
                <span class="text_description">{{ product.description }}</span>
            </div>
            <div class="div_hidden" id="product-param_div">
                <div class="product-param">
                    {% tag_characteristics_sets product.id as CharacteristicsSet %}
                    {% for property in CharacteristicsSet %}
                    <div class="p-p">
                        <i>{{ property.propertyid__name }}:</i>
                        <span>{{ property.propertyvalueid__value }}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container_review">
    <div class="comments">
        {% get_comments product.id as comments%}
        {% for comment in comments %}
        <div class="comment">
            <div class="container_1">
                <div class="user_img">
                    {%if not comment.user.image or comment.is_anonymous%}
                    <img src="{% static "users/images/user_default_icon.jpg" %}" alt="">
                    {% else %}
                    <img src="{{comment.user.image.url}}" alt="">
                    {% endif %}
                </div>
                <div class="container_1_1">
                    <div class="user_name_rating">
                        <span class="username">{% if not comment.is_anonymous %}{{comment.user.username}}{% else %}Анонимный отзыв{% endif %} <span class="date">{{comment.get_date}}</span></span>
                        <span class="hidden" data-rating="{{ comment.mark }}"></span>
                    </div>
                    <div class="user_message">
                        <span>{{comment.message}}</span>
                    </div>
                </div>
            </div>
            <br>
        </div>     
        {% endfor %}

    </div>
    <div class="review">
        <div class="product_rating">
            <div class="product_rating_number">
                <span id="rating" data-rating="{{ average_rating }}">{{ average_rating }}</span>
                <div id="star-container"></div>
            </div>
            <span>Количество оценок: {% if review_count %}{{ review_count }}{% else %}0{% endif %}</span>
        </div>
        <div class="own_review_button">
            {% if user.is_authenticated %}
            <button id="open_review_button">Оставить отзыв</button>
            {% else %}
            <button id="open_review_button">
                <a href="{% url "users:login" %}" >Оставить отзыв</a>   
            </button>
            {% endif %}
        </div>
        <div class="review_form" id="review_form">
            <div class="review_form_container">
                <div class="review_header">
                    <h2>Отзыв</h2>
                    <div class="close">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                          </svg>
                    </div>
                </div>
                <div class="product_info">
                    <div class="product_view_img">
                        <img src="{{ product.image.url }}" alt="{{product.name}}">
                    </div>
                    <div class="product_name">
                        <span>{{ product.name }}</span>
                    </div>
                </div>
                {% get_review request product.id as form%}
            <form action="{% if form %}{% url "products:update_review"%}{% else %}{% url "products:review" %}{% endif %}" method="post">
                <input type="hidden" name="product_id" value="{{ product.id }}">
                {% csrf_token %}
                
                <div class="stars_container">
                    <div class="stars">
                        {% if form.mark %}
                        <span class="hidden_span" value="{{form.mark}}"></span>
                        {% endif %}
                        <label for="star1" onclick="gfg(1)" class="fa-star">
                            <input type="radio" name="mark" id="star1" value="1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                        </label>
            
                        <label for="star2" onclick="gfg(2)" class="fa-star">
                            <input type="radio" name="mark" id="star2" value="2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                        </label>
            
                        <label for="star3" onclick="gfg(3)" class="fa-star">
                            <input type="radio" name="mark" id="star3" value="3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                        </label>
            
                        <label for="star4" onclick="gfg(4)" class="fa-star">
                            <input type="radio" name="mark" id="star4" value="4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                        </label>
            
                        <label for="star5" onclick="gfg(5)" class="fa-star">
                            <input type="radio" name="mark" id="star5" value="5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                        </label>
                    </div>
                </div>
                <div class="comment_div">
                    <textarea name="message" id="id_message" placeholder="Напишите свои мысли о купленном товаре"
                    >{% if form.message %}{{form.message}}{% endif %}</textarea>
                </div>
                <div class="anonymous">
                    <label class="anonymous_label">
                        <input type="checkbox" id="is_anonymous" name="is_anonymous"{% if form.is_anonymous %} checked {% endif %}>
                        <h5>Анонимный отзыв</h5>
                    </label>
                </div>
                
                <button  class="submit_review" id="submit_review" {% if not form.mark %}disabled{% endif %}> Отправить</button>
            </form>
        </div>
        </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
    <script src="{% static "products/js/product_description.js" %}"></script>
    <script src="{% static "products/js/product_page_description_size.js" %}"></script>
    <script src="{% static "products/js/star_rating.js" %}"></script>
    <script src="{% static "products/js/product_review.js" %}"></script>
    <script src="{% static "products/js/product_rating.js" %}"></script>
    <script src="{% static "products/js/user_product_rating.js" %}"></script>
{% endblock js %}