{% load static %}
{% load carts_tags %}

<div class="products">
    {% if carts %}
    {% for cart in carts %}

        <div class="product">
            <div class="product_img">
                <a href="{% url "catalog:product" cart.product.slug %}">
                    <img src="{{ cart.product.image.url }}" alt="">
                </a>
            </div>
            <div class="product_name">
                <a href="{% url "catalog:product" cart.product.slug %}"><h6>{{ cart.product.name }}</h6></a>
                <div class="product_price_actions">
                    <div class="prod_price">
                        {% if cart.product.discount != 0%}
                        <span class="new-price">{{ cart.product.sell_price }}₽</span> <span class="old-price">{{ cart.product.price_without_disc }}₽</span>
                        {% else %}
                        <span class="new-price">{{ cart.product.price_without_disc }}₽</span>
                        {% endif %}
                    </div>
                    <div class="prod_actions">
                        {%product_in_favourites request cart.product.id as prod_in_fav%}
                            <button class="favourites_add_remove" data-product-id="{{cart.product.id}}" data-favourites-add-remove-url="{% url "cart:favourites_add_remove" %}" id="toggle-heart-button">
                                    {% if prod_in_fav %}
                                    <svg xmlns="http://www.w3.org/2000/svg" id="heart-svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                      </svg>
                                      {% else %}
                                      <svg xmlns="http://www.w3.org/2000/svg" id="heart-svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                      </svg>
                                    {% endif %}
                            </button>
                        <a class="trash remove-from-cart" href="{% url "cart:cart_remove" %}"
                        data-cart-id="{{cart.id}}">
                        {% csrf_token %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product_quantity">
                <div class="prod_quant">
                    <div class="minus">
                        <button id="minus " class="decrement" data-cart-id="{{cart.id}}" data-cart-change-url="{% url "cart:cart_change" %}">
                            {% csrf_token %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                            </svg>
                        </button>
                    </div>
                    <div class="quant">
                        <input class="number" inputmode="numeric" pattern="[0-9]*" type="number" name="" maxlength="4" value="{{cart.quantity}}" id="product_quantity" readonly>
                    </div>
                    <div class="plus">
                        <button id="plus " class="increment" data-cart-id="{{cart.id}}" data-cart-change-url="{% url "cart:cart_change" %}" data-max-quant="{{cart.product.quantity}}">
                            {% csrf_token %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

</div>


<div class="order" id="cart-items-container">
    <div class="title"><h4>Ваша корзина</h4></div>
    <div class="columns">
            <h6>Товары({{carts.total_quantity}})</h6>
            <h6>Кол-во</h6>
            <h6>Цена</h6>
        </div>
        <div class="order_products">
            {% for cart in carts %}
            <div class="order_prod">
                <span class="order_prod_name">{{cart.product.name}}</span>
                <span>{{cart.quantity}}</span>
                <span>{{cart.product_price}}₽</span>
            </div>
            {%endfor%}
    </div>
    <div class="total_price">
        <a href="{% url "orders:create_order" %}" class="btn btn-primary">Заказать</a>
        <h6>Итого: {{carts.total_price}}₽</h6>
    </div>
</div>
{% else %}
<div class="empty_cart">
    <h4>Корзина пуста<br> Добавьте товары, чтобы сделать заказ</h4>
</div>
</div>
{% endif %}